body {
  background-color: rgb(8, 8, 8);
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.khungdangnhap {
  height: 90%;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 10px;
  border: 3px rgb(255, 255, 255) solid;
}

.div1 {
  margin-top: 5%;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.div1 img {
  height: 100%;
}

.div3 {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3 input {
  height: 100%;
  width: 80%;
  font-size: 20px;
  border-radius: 100px;
  font-size: 15px;
  padding-left: 20px;
  border: 1px rgb(110, 110, 110) solid;
}

.div4 {
}

.div4 h4 {
  margin: 0px;
  margin-left: 12%;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 2%;
  margin-top: 5%;
}

.div5 {
  display: flex;
  justify-content: space-between;
}

.div5 a {
  margin-right: 10%;
  margin-top: 5%;
  color: white;
}

.div6 {
  margin-left: 10%;
  display: flex;
}

.div6 p {
  color: white;
}

.div7 {
  height: 10%;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.div7 button {
  height: 90%;
  width: 50%;
  border-radius: 100px;
  border: 1px rgb(255, 255, 255) solid;
  background: linear-gradient(to right top, red, transparent);
  color: aliceblue;
  font-weight: 700;
}
