html,
body {
  /* Cho trình duyệt Chrome, Safari và Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Cho trình duyệt Firefox */
  scrollbar-width: none;

  /* Cho trình duyệt Internet Explorer và Edge cũ */
  -ms-overflow-style: none;
}

body {
  background-color: rgb(8, 8, 8);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(28, 28, 28, 0.371);
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  width: 30%;
  justify-content: center;
  display: flex;
  align-items: center;
}

h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 800;
  font-style: italic;
}

img {
  height: 60%;
  object-fit: contain;
}

.menu {
  height: 100%;
  width: 30%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

a {
  color: aliceblue;
  /* Bỏ gạch chân */
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

a:hover {
  color: rgb(211, 211, 211);
  background-color: rgba(44, 44, 44, 0.265);
}

.dangnhapdangky {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  height: 50%;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  font-weight: 700;
  background-color: beige;
  border-radius: 1000000px;
  border: rgb(231, 106, 106) 0px solid;
}
button:hover {
  background-color: rgb(150, 150, 136);
}

.btn-dangxuat {
  background: linear-gradient(to top right, red, transparent);
}

.btn-dangnhap {
  height: 50%;
  width: 200%;
}

.mainMenu {
  background-color: rgb(19, 19, 19);
  height: 60%;
  width: 100vw;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(../images/attack-on-titan-epic-battle-red-desktop-wallpaper-preview.jpg);
}

.poster {
  height: 100%;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Cho phép xếp chồng */
  position: relative;
}
.content {
  height: 100%;
  width: 60vw;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(235, 235, 235);
  z-index: 100;
}

.content p {
  width: 80%;
}

.imgMain {
  height: 80%;
  width: 40%;
  display: flex;
  justify-content: center;
  position: relative;
  transition: ease-in-out 0.5s;
}

.imgMain:hover {
  height: 90%;
  width: 50%;
  transition: ease-in-out 0.5s;
}

.imgMain:hover + h1 {
  font-size: 120%;
  transition: ease-in-out 0.5s;
}

.imgMain img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  z-index: 0;
}
.poster h1 {
  position: absolute;
  z-index: 101;
  bottom: 10%;
  transition: ease-in-out 0.5s;
}

.khongden {
  position: absolute;
  background: linear-gradient(to top, black, transparent);
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

.denden {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  position: absolute;
}

.levi {
  position: absolute;
  height: 20%;
  bottom: 0;
  right: -150%;
  transition: ease-in-out 2s;
}

.poster:hover .levi {
  position: absolute;
  height: 60%;
  bottom: 5%;
  right: 50%;
  z-index: 100;
  transition: ease-in-out 2s;
}

.theadangnhap {
  width: 35%;
  height: 100%;
  display: flex;
}

.list {
  width: 100vw;
  height: 60%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  height: 80%;
  width: 20%;
  background-color: blue;
  border-radius: 5px;
  position: relative;
  display: flex;
}

.bongden {
  background-color: rgba(0, 0, 0, 0.488);
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}
.item img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  z-index: 0;
}

.bongde {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.bongde a {
  visibility: hidden;
}

.item:hover a {
  height: 15%;
  width: 50%;
  border-radius: 100px;
  border: 2px white solid;
  background: linear-gradient(to top right, rgb(255, 0, 0), transparent);
  display: flex;
  justify-content: center;
  visibility: visible;
  transition: ease-in-out 1s;
}
